In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Historical_automobile_sales.csv')
df.head()

,Date,Recession,Consumer_Confidence,Price,Advertising_Expenditure,GDP,Growth_Rate,unemployment_rate,Automobile_Sales,Vehicle_Type,City
0,32508,NO,131.67,25872.889,2970,45.978,0.115055,2.6,2120.6,Sports,Georgia
1,37652,NO,131.05,25995.298,4572,67.254,0.057736,2.4,3692.8,Mediumfamilycar,Georgia
2,30863,NO,127.42,28058.381,2570,41.930,0.224350,2.4,2194.6,Supperminicar,New York
3,30375,NO,126.06,15201.649,4621,12.819,-1.119666,2.4,3799.1,Sports,Georgia
4,31381,NO,125.98,26806.978,4236,12.591,-3.775633,2.6,832.0,Mediumfamilycar,California

In [3]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0